<template name="addItem">
  <tr id="addItem" class="ui form">
    <td><div class="ui mini input"><input type="text" id="itemStore"></div></td>
    <td><div class="ui mini input"><input type="text" id="itemName"></div></td>
    <td><div class="ui mini input"><input type="text" id="itemWeight"></div></td>
    <td><div class="ui mini input"><input type="text" id="itemWeightType"></div></td>
    <td><div class="ui mini input"><input type="text" id="itemQty"></div></td>
    <td><div class="ui mini input"><input type="text" id="itemQtyType"></div></td>
    <td><div class="ui mini input"><input type="text" id="itemPrice"></div></td>
    <td><button class="ui mini green button"><i class="ui icon add"></i>Add</button></td>
  </tr>
</template>
