<template name="addItem">
  <form id="addItemForm">
    <label for="itemStore">Store:</label>
    <input type="text" id="itemStore">
    <label for="itemName">Name:</label>
    <input type="text" id="itemName">
    <label for="itemWeight">Weight:</label>
    <input type="text" id="itemWeight">
    <label for="itemWeightType">Weight Type:</label>
    <input type="text" id="itemWeightType">
    <label for="itemQty">Qty</label>
    <input type="text" id="itemQty">
    <label for="itemQtyType">Qty Type:</label>
    <input type="text" id="itemQtyType">
    <label for="itemPrice">Price:</label>
    <input type="text" id="itemPrice">
    <input type="submit" id="addNewItem" value="Add Item">
  </form>
  {{> itemerrors contextName="insertForm"}}
</template>
