<template name="addItem">
  <tr id="addItem" class="ui form">
    <td><div class="ui mini input"><input type="text" id="itemStore" placeholder="Store Name"></div></td>
    <td><div class="ui mini input"><input type="text" id="itemName" placeholder="Name"></div></td>
    <td><div class="ui mini input"><input type="text" id="itemWeight" placeholder="Weight"></div></td>
    <td><div class="ui mini input"><input type="text" id="itemWeightType" placeholder="Weight Type"></div></td>
    <td><div class="ui mini input"><input type="text" id="itemQty" placeholder="Quantity"></div></td>
    <td><div class="ui mini input"><input type="text" id="itemQtyType" placeholder="Quantity Type"></div></td>
    <td><div class="ui mini input"><input type="text" id="itemPrice" placeholder="Price"></div></td>
    <td><button class="ui mini green button"><i class="ui icon add"></i>Add</button></td>
  </tr>
</template>
