<!-- define a template called item -->
<template name="item">
  {{#if editing}}
    <tr class="ui form">
      <td><div class="ui mini input"><input type="text" id="editItemStore" value="{{store}}"></div></td>
      <td><div class="ui mini input"><input type="text" id="editItemName" value="{{name}}"></div></td>
      <td><div class="ui mini input"><input type="text" id="editItemWeight" value="{{weight}}"></div></td>
      <td><div class="ui mini input"><input type="text" id="editItemWeightType" value="{{weightType}}"></div></td>
      <td><div class="ui mini input"><input type="text" id="editItemQty" value="{{qty}}"></div></td>
      <td><div class="ui mini input"><input type="text" id="editItemQtyType" value="{{qtyType}}"></div></td>
      <td><div class="ui mini input"><input type="text" id="editItemPrice" value="{{price}}"></div></td>
      <td><button class="ui mini primary button saveItem"><i class="ui save icon"></i>Save</button><button class="ui mini red button cancelItem"><i class="ui cancel icon"></i>Cancel</button></td>
    </tr>
  {{else}}
    <tr>
      <td>{{store}}</td>
      <td>{{name}}</td>
      <td>{{weight}}</td>
      <td>{{weightType}}</td>
      <td>{{qty}}</td>
      <td>{{qtyType}}</td>
      <td>{{price}}</td>
      {{#if isLoggedIn}}<td>{{#if canEdit}}<button class="ui mini primary button editItem"><i class="ui edit icon"></i>Edit</button><button class="ui mini red button deleteItem"><i class="ui delete icon"></i>Delete</button>{{/if}}</td>{{/if}}
    </tr>
  {{/if}}
</template>


