<!-- define a template called itemList -->
<template name="itemList">
  <p>All Items</p>
  {{> addItem}}
  {{> itemerrors contextName="updateForm" errorMessage="There was an error updating the record."}}
  <table class="ui compact celled striped table">
    <thead>
      <tr>
        <th class="two column wide"><i class="ui search icon" id="searchButton"></i>Store{{> itemsearch columnName='store'}}</th>
        <th class="two column wide">Name{{> itemsearch columnName='name'}}</th>
        <th class="two column wide">Weight{{> itemsearch columnName='weight' number=true }}</th>
        <th class="two column wide">Weight Type{{> itemsearch columnName='weightType'}}</th>
        <th class="two column wide">Qty{{> itemsearch columnName='qty' number=true }}</th>
        <th class="two column wide">Qty Type{{> itemsearch columnName='qtyType'}}</th>
        <th class="two column wide">Price{{> itemsearch columnName='price' number=true }}</th>
        {{#if isLoggedIn}}<th></th>{{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each items}}
        {{> item}}
      {{/each}}
    </tbody>
  </table>  
</template>

