<!-- define a template called itemList -->
<template name="itemList">
  <p>All Items</p>
  {{> addItem}}
  {{> itemerrors contextName="updateForm" errorMessage="There was an error updating the record."}}
  <table class="ui celled striped table">
    <thead>
      <tr>
        <th class="two column wide">Store</th>
        <th class="two column wide">Name</th>
        <th class="two column wide">Weight</th>
        <th class="two column wide">Weight Type</th>
        <th class="two column wide">Qty</th>
        <th class="two column wide">Qty Type</th>
        <th class="two column wide">Price</th>
        {{#if isLoggedIn}}<th></th>{{/if}}
      </tr>
      <tr>
        <th class="two column wide">{{> itemsearch columnName='store'}}</th>
        <th class="two column wide">{{> itemsearch columnName='name'}}</th>
        <th class="two column wide"></th>
        <th class="two column wide">{{> itemsearch columnName='weightType'}}</th>
        <th class="two column wide"></th>
        <th class="two column wide">{{> itemsearch columnName='qtyType'}}</th>
        <th class="two column wide"></th>
        {{#if isLoggedIn}}<th></th>{{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each items}}
        {{> item}}
      {{/each}}
    </tbody>
  </table>  
</template>

