<!-- define a template called itemList -->
<template name="itemList">
  <p>All Items</p>
  {{> itemerrors contextName="updateForm"}}
  <table class="ui very compact celled table">
    <thead>
      <tr>
        <th class="two column wide">Store</th>
        <th class="two column wide">Name</th>
        <th class="two column wide">Weight</th>
        <th class="two column wide">Weight Type</th>
        <th class="two column wide">Qty</th>
        <th class="two column wide">Qty Type</th>
        <th class="two column wide">Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each items}}
      {{> item}}
    {{/each}}
    </tbody>
  </table>
  {{> addItem}}
</template>

